<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Sign Up</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Sign Up</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-6">
        <h2 class="mb-4">Sign Up </h2>
        <form [formGroup]="signupform" class="p-4 border rounded" (ngSubmit)="onSubmit()">

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Full Name</label>
              <input type="text" id="fullname" [ngClass]="{'is-invalid': isFullNameValid }"  formControlName="fullname" name="fullname" class="form-control" placeholder="Full Name">
              <div *ngIf="isFullNameValid"  class="text-danger"> Please Provide a Full Name</div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="Email">Email</label>
              <input type="email" id="username" name="username"   [ngClass]="{'is-invalid': isEmailValid }"  formControlName="username" class="form-control" placeholder="Eamil">
              <div *ngIf="isEmailValid"  class="text-danger"> Please Provide a Valid Email</div>
            </div>
          </div>
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Password</label>
              <input type="password" id="password" name="password"   [ngClass]="{'is-invalid': isPasswordValid }" class="form-control" formControlName="password" placeholder="Password">
              <div *ngIf="isPasswordValid"  class="text-danger"> Please Provide a Valid Email</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" [disabled]="signupform.invalid" value="Sign Up" class="btn px-4 btn-primary text-white">
              &nbsp;<a href="/login" >Back to Login</a>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</section>
